/*Color*/
.k-grey {
    background-color: #efefef;
}


/*aside*/
aside .menu-label {
    color: white;
    font-weight: bold;
    background-color: #4a4444;
    padding: 5px 10px 5px 10px;
}

/*Conversation*/
.media {
    margin:10px
}
.media+.media {
    margin: 0px;
    padding: 0px;
}
.card .media:not(:last-child) {
    margin: 0px;
}

.card .media:nth-of-type(even) {
    background-color: #e8f8ff;
    width: 50%;
    float: right;
    border-radius: 10px;
    padding: 10px;
}
.card .media .media-content .content p small a{
    font-size: 11px;
}
.card .media:nth-of-type(odd) {
    width: 50%;
    background-color: #efefef;
    border-radius: 10px;
    padding: 10px;
    clear: both;

}
