/*Body*/
html {
    /*overflow: hidden;*/
}
/*aside*/
aside .menu-label {
    color: white;
    font-weight: bold;
    background-color: #4a4444;
    padding: 5px 10px 5px 10px;
}

/*Conversation*/
/*.conversation {
    width: 60%;
    padding: 0px;
}
.conversation .media-content {
    padding: 10px;
}
.conversation:not(:last-child) {
    margin-bottom: 45px;
}
.conversation:nth-child(odd) {
    float: left;
}
.conversation:nth-child(even) {
    float: right;
}
.conversation .timestamp {
    position: relative;
    font-size: 10px;
    top: 50px;
    display: block;
}
.conversation .timestamp .fa{
    font-size: 12px;
}*/

/*Screen*/
.screen .card-content{
        max-height: 400px;
        overflow-y:auto;
}
.screen footer{
    margin-top: 30px;
}
